@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <div class="home-title">
        <h1 class="display-4">Welcome to PokeCardLog</h1>
    </div>
    
    <div class="main-home">

    </div>
</div>
<div class="main-footer">
</div>
